.main-container{
  display: flex;
}
.sider{
  height:773px;
  width: 600px;
  background-color: lightblue;
}
.content{
  height: 773px;
  width: 1000px;
  background-color: #00987f;
}
.button1{
  background: #f3f3f4;
    color: #0d0c22;
    margin-left: 8px;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 14px;
font-weight: 500;
line-height: 20px;
height: 40px;
box-sizing: border-box;
text-align: center;
}
.navbar{
  display: flex;
      position: relative;
      justify-content: flex-end;
        align-items: center;
}
.fa-w-18{
  position: relative;
    color: #fff;
    right: -505px;
    top: 493px;
    opacity: 0.3;
}
.fa-w-16{
  position: relative;
    color: #fff;
    left: 231px;
    bottom: 441px;
    opacity: 0.3;
}
.fa-stethoscope{
  position: relative;
  color: #fff;
  left: 366px;
  bottom: 369px;
  opacity: 0.3;
  transform: rotate(35deg);
}
.fa-plus-circle{
  position: relative;
    left: -260px;
    bottom: 372px;
    opacity: 0.3;
}
.fa-procedures{
  position: relative;
    color: #fff;
    opacity: 0.3;
    bottom: 350px;
    left: 268px;
}
.fa-ambulance{
  position: relative;
      color: #fff;
      left: -155px;
      bottom: 150px;
      opacity: 0.3;
      top: 138px;
}
.fa-clinic-medical{
  position: relative;
    color: #fff;
    opacity: 0.2;
    top: -833px;
    right: 255px;
}
.fa-hand-holding-heart{
  position: relative;
    color: #fff;
    opacity: 0.2;
    top: -922px;
    right: -21px;
}

main{
  display: flex;
  justify-content: center;
  margin: 80px 0 0;

}
.main-content{
  idth: 100%;
      max-width: 416px;
      border: 0;
      padding: 30px 60px 0;
      font-family: inherit;
      font-size: 100%;
      line-height: 1;
      position: relative;
      bottom: 110px;
}
.login{
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
.formdetails{
  margin: 0;
    padding: 0;
}

form-field {
    position: relative;
}
fieldset{
  border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
label{
  display: block;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 14px 0 4px;
    color: #0d0c22;
}
input{
  width: 113%;
    height: 38px;
margin-right: 8px;
    text-shadow: none;

    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
border: none;
    appearance: none;
    color: #0d0c22;
outline: none;

      /* background-color: #dae0ef; */

  display: block;


  background: #b0bfdf;
  cursor: pointer;
  box-shadow: 0 0 0 #b0bfdf;
  position: relative;
    z-index: 1;

}
input:hover{
    animation: input 2s infinite;
}
@keyframes input {
  0% {
    -moz-box-shadow: 0 0 0 0 #b0bfdf;
    box-shadow: 0 0 0 0 #b0bfdf;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #b0bfdf;
      box-shadow: 0 0 0 0 #b0bfdf;
  }
}
@keyframes submit {
  0% {
    -moz-box-shadow: 0 0 0 0 #ea4c89;
    box-shadow: 0 0 0 0 #ea4c89;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #ea4c89;
      box-shadow: 0 0 0 0 #ea4c89;
  }
}




.submit-btn {
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    background: #ea4c89;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    outline: transparent;
    line-height: 20px;
    height: 40px;
    position: relative;
    /* margin-top: 10%; */
    width: 50%;
    top: 30px;
  }
.submit-btn:hover{
  opacity: 0.8;
  animation: submit 2s infinite;
}
.forget{
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 2px;
    left: 58%;
  height:0;
}
.forget:hover{
  color: #fff;
  opacity: 0.5;
}
.forgetflex{
  display: flex;
  flex-wrap: wrap;
}

.login-image{
  height:203px;
  width:200px;
  position: relative;
  left: 194px;
 border-radius: 100%;
 top:170px;
}
.testimonial-text{
  position: relative;
      top: 198px;
      left: 136px;
      width: 67%;

}
.carousel{
  height:100%;
}
.carousel-item1{
  display: flex;
  flex-direction: column;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: grey;
}
.validate{
  padding: 10px 63px;
      cursor: pointer;
      border: none;
      background: grey;
      border-radius: 20px;
      color: #fff;
      font-size: 14px;
      outline: transparent;
      line-height: 20px;
      height: 40px;
      position: relative;
      /* margin-top: 10%; */
      width: 66%;
      top: 56px;
      left: 45px;
      display: none;
      animation: validate 2s infinite;
      opacity: 0.7;
}
@keyframes validate {
  0% {
    -moz-box-shadow: 0 0 0 0 #b0bfdf;
    box-shadow: 0 0 0 0 #b0bfdf;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #b0bfdf;
      box-shadow: 0 0 0 0 #b0bfdf;
  }
}
.inner-img{
  height: 109px;
width: 92px;
position: relative;
right: 264px;
z-index: 0;
opacity: 0.1;
}
.bigflex{
  display: flex;
  flex-direction: column;
}
.mainflex{
  display: flex;

}
.carousel-inner{
  width:107%;
  right: 3%;
  height: 100%
}
